// COLOROS

$white: hsl(0, 0%, 100%);
$cyan: hsl(178, 100%, 50%);
$skyblue: hsl(215, 51%, 70%);
$darkblue: hsl(214, 50%, 16%);
$very-darkblue: hsl(216, 55%, 11%);
$blackblue: hsl(217, 55%, 11%);


// FONT WEIGHTS

$lig: 300;
$reg: 400;
$sem: 600;
